In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
import seaborn as sns
import os
import glob

In [2]:
#read the path
file_path_2016 = "data/parking-tickets-2016"
#list all the files from the directory
file_list_2016 = os.listdir(file_path_2016)
file_list_2016

['Parking_Tags_Data_2016_4.csv',
 'Parking_Tags_Data_2016_3.csv',
 'Parking_Tags_Data_2016_2.csv',
 'Parking_Tags_Data_2016_1.csv']

In [3]:
df_2016 = pd.DataFrame()

# Append all files together
for file in file_list_2016:
    df_temp = pd.read_csv(f'data/parking-tickets-2016/{file}')
    df_2016 = pd.concat([df_2016, df_temp], ignore_index=True)
len(df_2016)

2254761

In [4]:
df_2016.isnull().sum()

tag_number_masked               0
date_of_infraction              0
infraction_code                 1
infraction_description          0
set_fine_amount                 0
time_of_infraction           1329
location1                  185561
location2                     383
location3                 2102975
location4                 2102583
province                        2
dtype: int64

In [5]:
#read the path
file_path_2017 = "data/parking-tickets-2017"
#list all the files from the directory
file_list_2017 = os.listdir(file_path_2017)

In [6]:
df_2017 = pd.DataFrame()

# Append all files together
for file in file_list_2017:
    df_temp = pd.read_csv(f'data/parking-tickets-2017/{file}')
    df_2017 = pd.concat([df_2017, df_temp], ignore_index=True)

df_2017.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***39755,20170101,29.0,PARK PROHIBITED TIME NO PERMIT,30,0.0,NR,45 LEWIS ST,NaN,NaN,ON
1,***10593,20170101,9.0,STOP-SIGNED HWY-PROHIBIT TM/DY,60,1.0,OPP,5 MERCER ST,NaN,NaN,ON
2,***39756,20170101,29.0,PARK PROHIBITED TIME NO PERMIT,30,1.0,NR,55 LEWIS ST,NaN,NaN,ON
3,***92318,20170101,5.0,PARK-SIGNED HWY-PROHIBIT DY/TM,50,1.0,N/S,MAPLEWOOD AVE,W/O,VAUGHAN RD,ON
4,***39757,20170101,29.0,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,61 LEWIS ST,NaN,NaN,ON

In [7]:
#read the path
file_path_2018 = "data/parking-tickets-2018"
#list all the files from the directory
file_list_2018 = os.listdir(file_path_2018)

In [8]:
df_2018 = pd.DataFrame()

# Append all files together
for file in file_list_2018:
    df_temp = pd.read_csv(f'data/parking-tickets-2018/{file}')
    df_2018 = pd.concat([df_2018, df_temp], ignore_index=True)

df_2018.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***91886,20180929,2,PARK - LONGER THAN 3 HOURS,15,2233.0,W/S,RUMNEY RD,N/O,TRENTON AVE,ON
1,***18291,20180929,207,PARK MACHINE-REQD FEE NOT PAID,30,2233.0,NR,390 QUEEN ST W,NaN,NaN,ON
2,***26058,20180929,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,2233.0,NR,10 EDWARD ST,NaN,NaN,ON
3,***16679,20180929,29,PARK PROHIBITED TIME NO PERMIT,30,2234.0,NR,55 MAITLAND ST,NaN,NaN,ON
4,***18292,20180929,406,PARK-VEH. W/O VALID ONT PLATE,40,2234.0,NR,390 QUEEN ST W,NaN,NaN,ON

In [9]:
#read the path
file_path_2019 = "data/parking-tickets-2019"
#list all the files from the directory
file_list_2019 = os.listdir(file_path_2019)

In [10]:
df_2019 = pd.DataFrame()

# Append all files together
for file in file_list_2019:
    df_temp = pd.read_csv(f'data/parking-tickets-2019/{file}')
    df_2019 = pd.concat([df_2019, df_temp], ignore_index=True)

df_2019.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***51471,20191124,207,PARK MACHINE-REQD FEE NOT PAID,30,2011.0,NR,548 DANFORTH AVE,NaN,NaN,ON
1,***61170,20191124,207,PARK MACHINE-REQD FEE NOT PAID,30,2011.0,NR,510 COLLEGE ST,NaN,NaN,ON
2,***92224,20191124,207,PARK MACHINE-REQD FEE NOT PAID,30,2011.0,NR,541 MOUNT PLEASANT RD,NaN,NaN,ON
3,***76780,20191124,29,PARK PROHIBITED TIME NO PERMIT,30,2012.0,E/S,PRINCESS ST,S/O,FRONT ST E,ON
4,***39600,20191124,2,PARK - LONGER THAN 3 HOURS,30,2012.0,NR,32 FIELDWOOD DR,NaN,NaN,ON

In [11]:
#read the path
file_path_2020 = "data/parking-tickets-2020"
#list all the files from the directory
file_list_2020 = os.listdir(file_path_2020)

In [12]:
df_2020 = pd.DataFrame()

# Append all files together
for file in file_list_2020:
    df_temp = pd.read_csv(f'data/parking-tickets-2020/{file}')
    df_2020 = pd.concat([df_2020, df_temp], ignore_index=True)

df_2020.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***30108,20201005,29,PARK PROHIBITED TIME NO PERMIT,30,826.0,OPP,148 GLENDALE AVE,NaN,NaN,ON
1,***68109,20201005,3,PARK ON PRIVATE PROPERTY,30,826.0,AT,2580 KIPLING AVE,NaN,NaN,ON
2,***69402,20201005,29,PARK PROHIBITED TIME NO PERMIT,30,826.0,NR,50 ROXBOROUGH ST W,NaN,NaN,ON
3,***21316,20201005,5,PARK-SIGNED HWY-PROHIBIT DY/TM,50,827.0,NR,154 LASCELLES BLVD,NaN,NaN,ON
4,***64093,20201005,207,PARK MACHINE-REQD FEE NOT PAID,30,827.0,NR,66 ST PATRICK ST,NaN,NaN,ON

In [13]:
#read the path
file_path_2021 = "data/parking-tickets-2021"
#list all the files from the directory
file_list_2021 = os.listdir(file_path_2021)

In [14]:
df_2021 = pd.DataFrame()

# Append all files together
for file in file_list_2021:
    df_temp = pd.read_csv(f'data/parking-tickets-2021/{file}')
    df_2021 = pd.concat([df_2021, df_temp], ignore_index=True)

df_2021.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***36338,20210915,2,PARK - LONGER THAN 3 HOURS,30,1117.0,OPP,16 HOPTREE AVE,NaN,NaN,ON
1,***48618,20210915,207,PARK MACHINE-REQD FEE NOT PAID,30,1117.0,NR,2 LINDEN ST,NaN,NaN,ON
2,***82420,20210915,312,PARKING MACH-NOT USED/NO FEE,75,1118.0,NaN,65 COLONEL SAMUEL SMITH PARK DR,NaN,NaN,ON
3,***80539,20210915,312,PARKING MACH-NOT USED/NO FEE,75,1118.0,NaN,1 SHORTT ST,NaN,NaN,ON
4,***92493,20210915,4,PARK ON MUNICIPAL PROPERTY,30,1118.0,NaN,400 MUNSTER AVE,NaN,NaN,ON

In [6]:
#read the path
file_path_2022 = "../data/parking-tickets-2022"
#list all the files from the directory
file_list_2022 = os.listdir(file_path_2022)

In [9]:
df_2022 = pd.DataFrame()

# Append all files together
for file in file_list_2022:
    df_temp = pd.read_csv(f'../data/parking-tickets-2022/{file}')
    df_2022 = pd.concat([df_2022, df_temp], ignore_index=True)

len(df_2022)

1821887

Going to check what each column means, starting with `tag_number_masked`. Seems like they are the id number for each ticket made. Let's see if there are any unique values.

In [10]:
df_2022['tag_number_masked'].nunique()

100000

In [11]:
df_2022['tag_number_masked'].nunique()/df_2022.shape[0]*100

5.4888146191284095

There's 100k unique values of almost 2 million entries. Not sure how this column can help us, or what findings I may have, but it is best to leave it alone until I find out the best use for this column.

Next is `date_of_infraction`, we can change this to a datetime64[ns] format. But I noticed another column that gives me the time, `time_of_infraction` displayed in minutes. We can change both of these into datetime by combining them together into a new column.

In [12]:
df_2022['date_of_infraction']

0          20220422
1          20220422
2          20220422
3          20220422
4          20220422
             ...
1821882    20221212
1821883    20221212
1821884    20221212
1821885    20221212
1821886    20221212
Name: date_of_infraction, Length: 1821887, dtype: int64

In [13]:
df_2022['date_of_infraction'] = pd.to_datetime(df_2022['date_of_infraction'], format='%Y%m%d')
df_2022['date_of_infraction'].head()

0   2022-04-22
1   2022-04-22
2   2022-04-22
3   2022-04-22
4   2022-04-22
Name: date_of_infraction, dtype: datetime64[ns]

In [14]:
df_2022['time_of_infraction'].head()

0    440.0
1    441.0
2    442.0
3    442.0
4    443.0
Name: time_of_infraction, dtype: float64

I cannot just change this by making unit into minutes, otherwise 440 will give me 07:20:00 instead of 04:40:00, 
let's do a format by breaking it down to hours and minutes.

In [15]:
df_2022['hours'] = df_2022['time_of_infraction'] // 100
df_2022['minutes'] = df_2022['time_of_infraction'] % 100

In [16]:
df_2022['hours'] = pd.to_timedelta(df_2022['hours'], unit='h')
df_2022['minutes'] = pd.to_timedelta(df_2022['minutes'], unit='m')

In [17]:
# Combine date and time columns into a single datetime column
df_2022['datetime_of_infraction'] = df_2022['date_of_infraction'] + df_2022['hours'] + df_2022['minutes']
df_2022['datetime_of_infraction']

0         2022-04-22 04:40:00
1         2022-04-22 04:41:00
2         2022-04-22 04:42:00
3         2022-04-22 04:42:00
4         2022-04-22 04:43:00
                  ...
1821882   2022-12-12 09:46:00
1821883   2022-12-12 09:47:00
1821884   2022-12-12 09:47:00
1821885   2022-12-12 09:47:00
1821886   2022-12-12 09:47:00
Name: datetime_of_infraction, Length: 1821887, dtype: datetime64[ns]

Now we can see this as its own column. Best to remove `date_of_infraction` and `time_of_infraction` columns.

In [18]:
df_2022.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province,hours,minutes,datetime_of_infraction
0,***68523,2022-04-22,2,PARK - LONGER THAN 3 HOURS,30,440.0,OPP,470 RUSSELL HILL RD,NaN,NaN,ON,0 days 04:00:00,0 days 00:40:00,2022-04-22 04:40:00
1,***93490,2022-04-22,355,PARK IN ACCESSIBLE NO PERMIT,450,441.0,AT,2301 DANFORTH AVE,NaN,NaN,ON,0 days 04:00:00,0 days 00:41:00,2022-04-22 04:41:00
2,***68524,2022-04-22,2,PARK - LONGER THAN 3 HOURS,30,442.0,OPP,470 RUSSELL HILL RD,NaN,NaN,ON,0 days 04:00:00,0 days 00:42:00,2022-04-22 04:42:00
3,***87187,2022-04-22,3,PARK ON PRIVATE PROPERTY,30,442.0,AT,2 EVA RD,NaN,NaN,ON,0 days 04:00:00,0 days 00:42:00,2022-04-22 04:42:00
4,***68525,2022-04-22,2,PARK - LONGER THAN 3 HOURS,30,443.0,OPP,470 RUSSELL HILL RD,NaN,NaN,ON,0 days 04:00:00,0 days 00:43:00,2022-04-22 04:43:00

In [19]:
df_2022.drop(columns = ['date_of_infraction', 'time_of_infraction', 'hours', 'minutes'], inplace=True)

We can do a sanity check to make sure `datetime_of_infraction` is of dtype `datetime64[ns]`.

In [21]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821887 entries, 0 to 1821886
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   tag_number_masked       object
 1   infraction_code         int64
 2   infraction_description  object
 3   set_fine_amount         int64
 4   location1               object
 5   location2               object
 6   location3               object
 7   location4               object
 8   province                object
 9   datetime_of_infraction  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 139.0+ MB

We can move onto `infraction_code` and `infraction_description`.

In [22]:
df_2022['infraction_code'].value_counts()

infraction_code
3      378837
207    284719
29     263451
5      258854
9       98682
        ...
32          1
439         1
437         1
311         1
342         1
Name: count, Length: 160, dtype: int64

In [23]:
df_2022['infraction_description'].value_counts()

infraction_description
PARK ON PRIVATE PROPERTY          378835
PARK MACHINE-REQD FEE NOT PAID    284719
PARK PROHIBITED TIME NO PERMIT    263450
PARK-SIGNED HWY-PROHIBIT DY/TM    258854
STOP-SIGNED HWY-PROHIBIT TM/DY     98681
                                   ...
STOP SIGNED HWY PRO TIMES/DAYS         1
PARK-FAIL TO DEPOSIT FEE METER         1
PARK MOTORCYCLE-MCHNE LT 45DEG         1
PARK-FEE NOT PD FOR TIME USED          1
PARK LT 0.3M FROM SIDEWALK             1
Name: count, Length: 163, dtype: int64